name: Test

on: push

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        emacs-version:
          - '26.3'
          - '27.2'
          - '28.2'
          - '29.4'
          - '30.2'
        experimental: [false]
        include:
        - os: ubuntu-latest
          emacs-version: snapshot
          experimental: true
        - os: macos-latest
          emacs-version: snapshot
          experimental: true
        - os: windows-latest
          emacs-version: snapshot
          experimental: true

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Emacs
        uses: jcs090218/setup-emacs@master
        with:
          version: ${{ matrix.emacs-version }}

      - name: Set up Eask
        uses: emacs-eask/setup-eask@master
        with:
          version: 'snapshot'

      - name: Run tests
        run: make ci
